################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App6/obj
/.vs
/App6.iOS/obj
